canvas{
    background-color: rgb(133, 87, 219);
    box-shadow: 5px 5px 5px black;
}

#copyright{
    background-color: rosybrown;
    position:fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color:white;
}

body{
    background-image: url("background.jpg");
    background-size: cover;

}

#heading{
    color: darksalmon;
}